/* night-light div beginning */

.night-light{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    /* height: 50px;
    width: 50px; */
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 50px;
    margin-top: 30px;    
}
.area{
    width: 110px;
    height: 40px;
    background-color: cornflowerblue;
    border-radius: 30px;
}
#moon{
    padding-right: 30px;
    margin-left: 10px;
}

#moon:hover{
    width: 15px;
    height: 30px;
    background-color: rgb(250, 250, 190);
    border-radius: 50%;
    transition: 1.5s ease-out;
}
#light{
    font-size: 1.5rem;
}

#light:hover{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(194, 232, 245);
    transition: 1s ease-in;
}
/* container */
.container{
    height: 350px;
    width: 600px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1rem;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 40px;
}

/* container header */
.container-header{
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: whitesmoke;
}

/* container body */

.container-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.emoji{
    height: 150px;
    width: 150px;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background-color: #ddd;
}

/* container footer */

.container-footer{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.color-generate-btn{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: darkorchid;
    font-size: 1em;
    font-weight: lighter;
    color: whitesmoke;
    cursor: pointer;
}

.color-generate-btn:hover{
    background-color: cadetblue;
    color: black;
    transition: 1s;
    
}

/* Mobile */
@media (max-width:480px){
.container{
    width: 150px;
    height: 250px;
    margin-top: 20px;
}
h1{
    font-size: 1rem;
}
.color-generate-btn{
    padding: 5px 5px;
    font-size: 0.5rem;
}
.emoji{
    width: 120px;
    height: 120px;
    font-size: 2rem;
}
.night-light{
    font-size: 1rem;
    margin-right: 120px;
    margin-top: 20px;    
}
.area{
    width: 75px;
    height: 20px;
}
#light{
    font-size: 1rem;
}

}

/* Extra small devices */
@media (min-width:481px) and (max-width:767px){
    .container{
        width: 250px;
        height: 300px;
        margin-top: 20px;
        margin-left: 30%;
    }
    h1{
        font-size: 1.5rem;
    }
    .color-generate-btn{
        padding: 10px 10px;
        font-size: 0.8rem;
    }
    .emoji{
        width: 150px;
        height: 150px;
        font-size: 2rem;
    }
}

/* Small tablets */
@media (min-width:768px) and (max-width:991px){
    .container{
        width: 300px;
        height: 300px;
        margin-top: 20px;
        margin-left: 30%;
    }
    h1{
        font-size: 1.5rem;
    }
    .color-generate-btn{
        padding: 10px 10px;
        font-size: 0.8rem;
    }
    .emoji{
        width: 180px;
        height: 180px;
        font-size: 3rem;
    }
    .night-light{
        font-size: 2rem;
        margin-top: 20px;    
    }
    .area{
        width: 100px;
        height: 35px;
    }
    #light{
        font-size: 1.2rem;
        margin-right: 5%;
    }
}

/* Large tablets/laptops */
@media (min-width:992px) and (max-width:1199px){
    .container{
        width: 400px;
        height: 400px;
        margin-top: 20px;
        margin-left: 30%;
    }
    h1{
        font-size: 2rem;
    }
    .color-generate-btn{
        padding: 15px 15px;
        font-size: 1rem;
    }
    .emoji{
        width: 200px;
        height: 200px;
        font-size: 3rem;
    }
    .night-light{
        margin-right: 10%;
    }
}

/* Desktops */
@media (min-width:1200px) and (max-width:1919px){
    .container{
        width: 550px;
        height: 450px;
        margin-top: 20px;
        margin-left: 30%;
    }
    h1{
        font-size: 2.5rem;
    }
    .color-generate-btn{
        padding: 15px 25px;
        font-size: 1.2rem;
    }
    .emoji{
        width: 200px;
        height: 200px;
        font-size: 3rem;
    }
    .night-light{
        margin-right: 10%;
    }
}

/* Extra large screens */
@media (min-width:1920px) {
    .container{
        width: 800px;
        height: 700px;
        margin-top: 20px;
        margin-left: 30%;
    }
    h1{
        font-size: 4rem;
    }
    .color-generate-btn{
        padding: 20px 25px;
        font-size: 2rem;
    }
    .emoji{
        width: 400px;
        height: 400px;
        font-size: 5rem;
    }
    .night-light{
        margin-right: 10%;
        font-size: 3rem;
    }
    .area{
        width: 180px;
        height: 55px;
    }
    #light{
        font-size: 2rem;
        margin-right: 30%;
    }
}
